.root {
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 160px auto;
  height: 100%;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
}
.container {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  p {
    font-size: 14px;
    span {
      font-weight: 500;
      color: #6161ff;
    }
  }
}
