.root{
  display: flex;
  align-items: center;
  transition: background 0.1s ease-in-out;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  &:hover {
    background: rgba(0, 0, 0, 0.03);
  }
  padding: 10px 25px;
}
.categories{
  display: flex;
  gap: 10px;
  p{
    font-size: 12px;
  }
}
.container{
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.right{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  h1{
    font-size: 20px;
    font-weight: 400;
  }
}
.left{
  text-align: right;
}
.createdby{
  font-size: 12px;
  opacity: 0.5;
}